@import 'src/styles/config';

.accountContentTitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  color: $primary;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .accountContentTitle {
    margin-bottom: 15px;
  }
}
