@import 'src/styles/config';

.accountSettingsWrap {

  .formWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    width: 100%;

    &.passwordForm {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .accountSettingsWrap {
    .form {
      grid-template-columns: 1fr;
    }
  }
}
