$primary: #AE6851;
$secondary: #D27770;
$third: #A1402F;

$black: #1A141F;
$white: #FFFF;

$hint: #4B3A5A;
$border: #ABA7AF;
$disabled: #D4D2D5;
$spacer: #D9D1E0;
$spacerLight: #E5E0EB;
$bgLightGray: #F5F3F7;

$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;

$cortado1: #E97955;
$cortado2: #D281CF;
$cortado3: #E8A1B6;

