$primary: #ae6851;
$secondary: #d27770;
$third: #a1402f;
$forth: #f9d7cc;

$black: #1a141f;
$white: #ffff;

$hint: #4b3a5a;
$border: #aba7af;
$disabled: #d4d2d5;
$spacer: #d9d1e0;
$spacerLight: #e5e0eb;
$bgLightGray: #f5f3f7;

$error: #d51a52;
$attention: #ff9500;
$approval: #00b998;
$link: #6A55D7;
$link2: #1A15D3;
$link3: #0F0C9E;

$cortado1: #e97955;
$cortado2: #d281cf;
$cortado3: #e8a1b6;

$gray: #f2f2f2;
