@import 'src/styles/config';

.popupHeader {
  width: 100%;
  background-color: $primary;
  border-radius: 24px;
  overflow: hidden;

  & :global {
    .popupHeaderContentWrap {
      padding: 39px 48px;
    }

    .popupHeaderTitle {
      font-size: 36px;
      font-weight: 600;
      line-height: 120%;
      color: $white;
      margin: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .popupHeader {
    & :global {
      .popupHeaderContentWrap {
        padding: 25px 40px;
      }

      .popupHeaderTitle {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .popupHeader {
    & :global {
      .popupHeaderContentWrap {
        padding: 20px 25px;
      }

      .popupHeaderTitle {
        font-size: 22px;
      }
    }
  }
}
