@import '../../../../styles/config';

.stepWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 568px;
  padding-left: 90px;
  margin-bottom: 39px;

  &:last-child {
    margin-bottom: 0;
  }

  &.reverse {
    flex-direction: row-reverse;
    padding: 0 90px 0 0;

    .imageWrap {
      .number {
        right: unset;
        left: 0;
        transform: translateX(-50%);
      }
    }

    .descriptionWrap {
      padding: 0 39px 0 0;
      .title,
      .description {
        text-align: right;
      }
    }
  }

  .imageWrap {
    display: block;
    position: relative;
    width: 215px;
    height: 136px;
    min-width: 215px;
    max-width: 215px;
    background-color: $cortado1;

    .image {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      max-width: 70%;
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 30px;
      right: 0;
      transform: translateX(50%);
      width: 53px;
      height: 53px;
      font-size: 30px;
      font-weight: 500;
      line-height: 1;
      background-color: $gray;
      border-radius: 100%;
      padding-top: 2px;
    }
  }

  .descriptionWrap {
    padding-left: 39px;
    max-width: 297px;

    .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 128%;
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      line-height: 148%;
    }
  }
}

@media screen and (max-width: 550px) {
  $imageWidth: calc(100vw - 50px);

  .stepWrap {
    flex-direction: column;
    justify-content: flex-start;
    max-width: unset;
    padding-left: 0;
    margin-bottom: 39px;

    &.reverse {
      flex-direction: column;
      padding: 0;

      .imageWrap {
        .number {
          top: 10px;
          right: 10px;
          left: unset;
          transform: unset;
        }
      }

      .descriptionWrap {
        padding: 0;

        .title,
        .description {
          text-align: left;
        }

        .title {
          margin-bottom: 5px;
        }
      }
    }

    .imageWrap {
      width: $imageWidth;
      height: 35vw;
      min-width: $imageWidth;
      max-width: $imageWidth;
      margin-bottom: 25px;

      .number {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        transform: unset;
      }

      .image {
        max-height: 120px;

        img {
          object-fit: scale-down !important;
        }
      }
    }

    .descriptionWrap {
      padding: 0;
    }
  }
}
