@import 'src/styles/config';

.productImageWrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 233px;
  max-height: 233px;
  background-color: $cortado1;
  margin-top: 40px;

  .image {
    position: absolute;
    top: -40px;
    left: 23px;
    width: 195px;
    max-width: 195px;
    height: 273px;
    max-height: 273px;
    min-height: 273px;
    object-fit: fill;
  }
}

@media screen and (max-width: 1200px) {
  .productImageWrap {
    height: 160px;
    max-height: 160px;

    .image {
      top: -40px;
      left: 15px;
      width: 145px;
      max-width: 145px;
      height: unset;
      max-height: unset;
      min-height: unset;
    }
  }
}

@media screen and (max-width: 992px) {
  .productImageWrap {
    height: 130px;
    max-height: 130px;
    margin-top: 30px;

    .image {
      left: 10px;
      width: 120px;
      max-width: 120px;
    }
  }
}

@media screen and (max-width: 650px) {
  .productImageWrap {
    height: 160px;
    max-height: 160px;
    margin-top: 30px;

    .image {
      left: 15px;
      width: 130px;
      max-width: 130px;
    }
  }
}
