@import 'src/styles/config';

.sliderWrap {
  background-color: $forth;
  padding-right: 59px !important;

  .slider {
    width: 100%;

    .slide {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;

      .contentWrap,
      .imageWrap {
        width: 50%;
      }

      .contentWrap {
        padding: 64px 0;

        .subtext {
          color: $primary;
          font-size: 14px;
          font-weight: 300;
          line-height: 140%;
          margin-bottom: 18px;
          padding-left: 3px;
        }

        .title {
          font-size: 44px;
          font-weight: 500;
          line-height: 128%;
          max-width: 505px;
          margin-bottom: 6px;
        }

        .text {
          font-size: 18px;
          font-weight: 300;
          line-height: 132%;
          margin-bottom: 47px;
        }
      }

      .imageWrap {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          height: 100%;
          width: 242px;
          background: url('../../../../images/sliderDecorator.svg') center center / 242px no-repeat transparent;
          transform: translateX(-50%);
        }

        .image {
          width: 100%;
          max-width: 570px;
          height: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sliderWrap {
    padding-right: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .sliderWrap {
    padding-right: 25px !important;
  }
}
