@import 'src/styles/config';

.priceSummary {
  font-size: 24px;
  font-weight: 500;
  line-height: 132%;
  color: $purple;

  span {
    color: $purple;
  }
}

@media screen and (max-width: 992px) {
  .priceSummary {
    font-size: 20px;
  }
}
