html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding-top: 170px;
}

@media screen and (max-width: 992px) {
  body {
    padding-top: 91px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 70px;
  }
}
