@import 'src/styles/config';

.productAmountPickerWrap {
  .imageWrap {
    position: relative;
    width: 205px;
    height: 144px;
    background-color: $cortado1;
    border-radius: 12px 12px 0 12px;
    margin-bottom: 20px;

    .image {
      position: absolute;
      left: 5px;
      bottom: 0;
      width: 126px;
      min-width: 126px;
      height: 176px;
      min-height: 176px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 132%;
    color: $black;
    margin-top: 19px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 16px;
    font-weight: 500;
    line-height: 132%;
    margin-bottom: 4px;
    color: $purple;

    span {
      color: $purple;
    }
  }

  .description {
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
    color: $border;
    margin-bottom: 18px;
  }

  .numberPicker {
    max-width: 146px;
  }
}

@media screen and (max-width: 860px) {
  .productAmountPickerWrap {
    .imageWrap {
      width: 100%;
    }

    .numberPicker {
      max-width: 100%;
    }
  }
}
