@import 'src/styles/config';

.benefitsWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: {
    top: 46px;
    bottom: 43px;
  }
  background: url('../../../images/coffe.svg') 93px bottom / 225px no-repeat $cortado1;

  .descriptionWrap {
    width: 50%;
    max-width: 477px;
    margin-right: 60px;

    .title {
      font-size: 22px;
      font-weight: 600;
      line-height: 124%;
      color: $white;
      max-width: 350px;
      margin-bottom: 46px;
    }

    .text {
      font-size: 18px;
      font-weight: 400;
      line-height: 132%;
      color: $white;
      margin-bottom: 17px;
    }

    .subscriptionButton {
      border: $white;
    }
  }

  .list {
    max-width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .benefitsWrap {
    flex-direction: column;
    padding: {
      top: 40px;
      bottom: 40px;
    }
    background: url('../../../images/coffe.svg') calc(100vw - 220px) bottom / 180px no-repeat $cortado1;

    .descriptionWrap {
      width: 100%;
      max-width: 80vw;
      margin-right: 0;

      .title {
        max-width: 350px;
        margin-bottom: 30px;
      }

      .subscriptionButton {
        margin-bottom: 40px;
      }
    }

    .list {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 550px) {
  .benefitsWrap {
    background: url('../../../images/coffe.svg') calc(100vw - 120px) bottom / 100px no-repeat $cortado1;
  }
}
