$padding: 93px;
$paddingSmall: 62px;
$fullWidthPadding: calc(((100% - 1440px) / 2) + #{$padding});
$fullWidthPaddingSmall: calc(((100% - 1440px) / 2) + #{$paddingSmall});

.section {
  max-width: 1440px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: $padding;
    right: $padding;
  };

  &.small {
    padding: {
      left: 62px;
      right: 62px;
    }
  }

  &.fullWidth {
    max-width: unset;
    padding: {
      left: $fullWidthPadding;
      right: $fullWidthPadding;
    }

    &.small {
      padding: {
        left: $fullWidthPaddingSmall;
        right: $fullWidthPaddingSmall;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .section {
    &.fullWidth {
      padding: {
        left: $padding;
        right: $padding;
      }

      &.small {
        padding: {
          left: $paddingSmall;
          right: $paddingSmall;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .section {
    padding: {
      left: 40px;
      right: 40px
    }

    &.small,
    &.fullWidth,
    &.fullWidth.small{
      padding: {
        left: 40px;
        right: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: {
      left: 25px;
      right: 25px
    }

    &.small,
    &.fullWidth,
    &.fullWidth.small{
      padding: {
        left: 25px;
        right: 25px;
      }
    }
  }
}
