.section {
  padding: {
    left: 93px;
    right: 93px
  };

  &.small {
    padding: {
      left: 62px;
      right: 62px;
    }
  }

  &.fullWidth {
    padding: {
      left: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .section {
    padding: {
      left: 40px;
      right: 40px
    }
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: {
      left: 25px;
      right: 25px
    }
  }
}
