h1,h2,h3,h4,p,span {
  color: $black;
}

h1 {
  font-size: 44px;
  line-height: 128%;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  line-height: 124%;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 132%;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 148%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-decoration: underline;
  color: $link;
  cursor: pointer;
  white-space: nowrap;
  transition: .2s ease;

  &:hover {
    color: $link2;
  }

  &:focus {
    color: $link3;
  }
}
